  <!-- FOOTER -->
  <footer class="footer-custom shadow-lg">
      <p class="float-end"><a class="footer-a" href="#">Back to top</a></p>
      <div class="row">
        <div class="col-md-4 mx-auto mb-3 logo">
          <a href="https://www.facebook.com/laiguilledumarquiste" target="_blank"><img src="{{ asset('logo/facebook.png')}}" alt="logo-facebook"></a>
          <a href="https://www.instagram.com/laiguille.du.marquiste/?hl=fr" target="_blank"><img src="{{ asset('logo/instagram.png')}}" alt="logo-instagram"></a>
          <a href="https://twitter.com/galerietatouage?lang=fr" target="_blank"><img src="{{ asset('logo/twitter.png')}}" alt="logo-twitter"></a>
        </div>
      </div>
      <p>&copy; 2017-2020 L'Aiguille Du Marquiste. &middot; <a class="footer-a" href="#">Privacy</a> &middot; <a class="footer-a" href="#">Terms</a></p>
  </footer>
